body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/prague.jpg");
    background-size: cover;
    background-position: absolute;
    overflow-y: hidden;
    font-family: "Cambria"; 
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 200px;
}